@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: theme('fontFamily.display');
  color: theme('colors.brand.ink');
  background: white;
}
